html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

.nombre-sitio{
    font-size: 20px;
}

.nombre-sitio span{
    color: #037bc0;
}

.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px;
}